/*body{
	padding:0;
	margin:0;
}
*
{

margin:0;
outline:medium none;
padding:0;


}*/

.labelclass
{

font-weight:bold;

}

.root1
{

	/*padding:0;
	margin:0;*/
	background:#D0F7FF !important;
}




