BODY {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
TH {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
TD {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
DIV {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
P {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
H1 {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
H2 {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
LI {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
DT {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
DD {
	FONT-FAMILY: Tahoma, "Gill Sans", Arial, sans-serif
}
BODY {
	MARGIN: -10px 0px 0px -10px; COLOR: #333333; BACKGROUND-COLOR: #ffffff
}
A {
	
}
BODY {
	MARGIN: 0px
}
IMG.box {
	VERTICAL-ALIGN: middle
}
A:link {
	COLOR: #006486
}
A:active {
	COLOR: #1d93b6
}
A:hover {
	COLOR: #64bfdb
}
A:visited {
	COLOR: #4e5265
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #ffffff; BORDER-BOTTOM: 0px
}
H1 {
	FONT-SIZE: medium
}
H2 {
	FONT-SIZE: medium
}

@media Screen    
{
UNKNOWN {
	FONT-SIZE: medium
}
UNKNOWN {
	FONT-SIZE: large
}
    }
UL {
	LIST-STYLE-IMAGE: url(images/box.png); LIST-STYLE-TYPE: square
}
TABLE.data {
	BORDER-RIGHT: #bdcebb 1px solid; BORDER-TOP: #bdcebb 1px solid; BORDER-LEFT: #bdcebb 1px solid; BORDER-BOTTOM: #bdcebb 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.data TH {
	BORDER-RIGHT: #bdcebb 1px solid; BORDER-TOP: #bdcebb 1px solid; BACKGROUND: #cbdac9; BORDER-LEFT: #bdcebb 1px solid; BORDER-BOTTOM: #bdcebb 1px solid
}
TABLE.data TD {
	BORDER-RIGHT: #bdcebb 1px solid; BORDER-TOP: #bdcebb 1px solid; BACKGROUND: #e3ebe2; BORDER-LEFT: #bdcebb 1px solid; BORDER-BOTTOM: #bdcebb 1px solid
}
INPUT.required {
	BACKGROUND: #e3ebe2
}
TEXTAREA.required {
	BACKGROUND: #e3ebe2
}
INPUT.bad {
	BACKGROUND: #ffcd76
}
TEXTAREA.bad {
	BACKGROUND: #ffcd76
}
.error {
	COLOR: #e18a07
}
P.byline {
	FONT-WEIGHT: bold; FONT-SIZE: smaller
}
#header {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; border-spacing: 0px
}
#header TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#header #logo {
	VERTICAL-ALIGN: middle
}
#header #logo IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN: 2px 15px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#header #tagline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006486; FONT-STYLE: italic; WHITE-SPACE: nowrap
}
#header #navigation {
	COLOR: #666666; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#header #searchfields {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#search {
	MARGIN: 0px
}
#search #q {
	BORDER-RIGHT: #bdcebb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bdcebb 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #bdcebb 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #bdcebb 1px solid
}
#search #submit {
	BORDER-RIGHT: #bdcebb 1px outset; PADDING-RIGHT: 4px; BORDER-TOP: #bdcebb 1px outset; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #bdcebb; PADDING-BOTTOM: 3px; BORDER-LEFT: #bdcebb 1px outset; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #bdcebb 1px outset; voice-family: inherit
}
#header #topnav {
	VERTICAL-ALIGN: bottom
}
#topnav TABLE {
	HEIGHT: 18px; border-spacing: 0px
}
#topnav TD {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 8px; BORDER-TOP: medium none; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #e2e9eb; TEXT-ALIGN: center
}
#topnav TD.sep {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnav TD.sep IMG {
	DISPLAY: block
}
#topnav TD.a {
	BACKGROUND-COLOR: #1d93b6
}
#topnav TD.s {
	BACKGROUND-COLOR: #bdcebb
}
#topnav A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#topnav A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#topnav A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#topnav TD.a A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#topnav TD.a A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#topnav TD.a A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#topnav TD.s A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#topnav TD.s A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#topnav TD.s A:hover {
	TEXT-DECORATION: underline
}
#subnav {
	VERTICAL-ALIGN: bottom; HEIGHT: 19px; BACKGROUND-COLOR: #1d93b6
}
#subnav #right {
	WIDTH: 100%
}
#subnav TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; BORDER-BOTTOM: #2a5a8a 1px solid; WHITE-SPACE: nowrap
}
#subnav TD.sep {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
#subnav TD.sep IMG {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#subnav TD.u {
	PADDING-LEFT: 0px; BACKGROUND: #ffffff; BORDER-BOTTOM: #ffffff 1px solid
}
#subnav IMG {
	VERTICAL-ALIGN: bottom
}
#subnav A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#subnav A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#subnav A:hover {
	TEXT-DECORATION: underline
}
#subnav TD.p {
	PADDING-LEFT: 0px; BACKGROUND: #e2e9eb; BORDER-BOTTOM: #e2e9eb 1px solid
}
#subnav TD.u A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#subnav TD.p A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#subnav TD.u A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#subnav TD.p A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#subnav TD.u A:hover {
	TEXT-DECORATION: underline
}
#subnav TD.p A:hover {
	TEXT-DECORATION: underline
}
.shim {
	CLEAR: both
}
#body {
	MARGIN: 10px 30px
}
#content {
	BORDER-RIGHT: #e3ebe2 1px solid; PADDING-RIGHT: 19px; BORDER-TOP: medium none; FLOAT: left; MARGIN: 10px 20px 10px 30px; BORDER-LEFT: medium none; WIDTH: 560px; BORDER-BOTTOM: medium none; max-width: 560px
}
#content {
	WIDTH: 60%; voice-family: inherit
}

@media Screen    
{
UNKNOWN {
	WIDTH: 60%
}
    }
H1.title {
	COLOR: #1d93b6
}
A {
	
}
H1.title {
	LEFT: -10px; POSITION: relative
}
#sidebar {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 10px; MARGIN-LEFT: 580px; BORDER-LEFT: medium none; WIDTH: 220px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: medium none
}
#sidebar {
	FLOAT: left; MARGIN-LEFT: auto
}
A {
	
}
#sidebar DIV.promo {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: #e4ebe4; PADDING-BOTTOM: 10px; BORDER-LEFT: medium none; PADDING-TOP: 10px; BORDER-BOTTOM: medium none
}
#sidebar DIV.promo P {
	MARGIN-TOP: 0px
}
#sidebar #related H2 {
	FONT-SIZE: larger; BORDER-BOTTOM: #e4ebe4 1px solid
}
#sidebar #related UL {
	PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
#footer {
	CLEAR: both; BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 20px; PADDING-LEFT: 30px; FONT-SIZE: smaller; BACKGROUND: #e3ebe2; PADDING-BOTTOM: 10px; BORDER-LEFT: medium none; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: medium none
}
#footer A:link {
	COLOR: #666666
}
#footer A:active {
	COLOR: #006486
}
.footer A:hover {
	COLOR: #006486
}
#footer A:visited {
	COLOR: #949494
}
