.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.afterPopup {
  visibility: visible;
  opacity: 1;
  z-index:101;
}

.popup {
  padding: 3vh;
  background: #fff;
  border-radius: 5px;
  min-width: 60vw;
  max-width: 80vw;
  max-height: 80vh;
  transition: all 5s ease-in-out;
}
